header {
	border: solid 1px green;
}

nav ul {
	list-style-type: none;
  }  

nav li {
    display: inline-block;
}
nav li a {
    padding: 8px 0 8px 25px;
    text-decoration: none;
	color: #666;
	font-size:1.3em;
}
.disabled {
	color: grey;
}
.disabled a {
	color: purple;
}
.disabled a:hover {
	color: blue;
}
.active {
	color: yellow;
}
.active a {
	color: yellow;
}
.active a:hover {
	color: red;
}
.blue {
	color: blue;
}
.red{
	color: red;
}